
<div class="col-lg-8 mb-4">

    <div class="col-md-6 form-col">
      <p id="firstname">First Name: {{profile.firstname}}</p>
    
      <p id="lastname">Last Name: {{profile.lastname}}</p>
  
      <p id="bio">Bio: {{profile.bio}}</p>
    
      <p id="gender">Gender: {{profile.gender}}</p>
    
      <p id="tutor_pos">Tutor_position: {{profile.tutor_position}}</p>
    
      <p id="subject">Subject: {{profile.subject}}</p>

      <button type="submit" class="btn btn-primary"
     onclick="window.location='/profile_form';">Update Your Profile</button> 
    </div> 

  
</div>
