
<div class="col-lg-8 mb-4">

    <div class="form-group col-md-6">
      <p id="firstname">First Name {{profile.firstname}}</label>
      
    </div>
    <div class="form-group col-md-6">
      <p id="lastname">Last Name {{profile.lastname}}</label>
    </div>

    <div class="form-group col-md-6">
      <p id="bio">Bio: {{profile.bio}}</label>
    </div>

    <div class="form-group col-md-6">
      <p id="gender">Gender: {{profile.gender}}</label>
    </div>

    <div class="form-group col-md-6">
      <p id="tutor_pos">Tutor_position: {{profile.tutor_position}}</label>
    </div>

    <div class="form-group col-md-6">
      <p id="subject">Subject: {{profile.subject}}</label>
    </div>
    <a href="/profile_form">Update your profile</a>
  
</div>