<div class="col-lg-8 mb-4">

    <!-- Project Card Example -->
    <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 "></h6>
    </div>
    <div class="card-body">
        
        <div>
            <ul>
{{#each tutors}}
<li><a href="/calendar/{{this._id}}">
{{#if this.profile}}
{{this.profile.firstname}}  {{this.profile.lastname}}
{{else}} {{this.username}}
{{/if}}
</a></li>
{{/each}}

    
</ul>
        </div>
    </div>
    </div>

</div>
        

