<div class="col-lg-8 mb-4">
{{!-- Author--Jack Zhou and Sid--}}
    <!-- Tutor Infomation Page -->
    <div class="card shadow mb-5 nav-header">
    <div class="card-body">   
<ul class="navbar-nav">
{{#each tutors}}
<li>
{{#if this.profile}}
<div class="form-col">
    <div class="col">
{{this.profile.firstname}}   {{this.profile.lastname}}
</div>
<div class="form-row">
    <a class="btn" href="/tutors/request/{{this._id}}">Book Event</a>
    <a class="btn" href="/tutors/event/{{this._id}}">Check Schedule</a>
    <a class="btn" href="/tutors/resource/{{this._id}}">See Study Materials</a>
</div> 
</div> 
{{/if}}
</li>
{{/each}}

</ul>
        </div>
    </div>
</div>
        

