<div class="col-lg-8 mb-4">
{{!-- Author--Jack Zhou --}}
    <!-- Project Card Example -->
    <div class="card shadow mb-5 nav-header">
    
    <div class="card-body">
        
        
<ul class="navbar-nav">
{{#each tutors}}
<li>
{{#if this.profile}}
{{this.profile.firstname}}  {{this.profile.lastname}}
<div>
    <button class="" id="bookAnEvent" onclick="bookanEvent({{this._id}})"><a href="/calendar/event/{{this._id}}"></a>Book Event</button>
    <button class="" id="seeSchedule" onclick="seeSchedule({{this._id}})"><a href="/calendar/request/{{this._id}}"></a>See Schedule</button>
</div>
{{else}} {{this.username}}
{{/if}}
</a></li>
{{/each}}

    
</ul>
        
    </div>
    </div>

</div>
        

