<div class="col-lg-8 mb-4">
{{!-- Author--Jack Zhou--}}
    <!-- Tutor Uploaded Resources Page -->
    <div class="card shadow mb-5">
    <div class="card-body">   
        {{#if requests}}   
<ul>

{{#each requests}}
<li>

 <div class="form-col">
 <p >Title: {{title}}</p>
 <p>Description: ({{description}})</p> 
 <p>Student: ({{student}})</p>
 <p>Date: ({{date}})</p>
 <p>Time: ({{time}})</p>
 <p>Location: ({{location}})</p>
 <p>State: ({{state}})</p>
 </div>
 
</li>
{{/each}}
</ul>

{{/if}}
</div>
</div>
</div>