
<div class="col-lg-8 mb-4">
{{!-- Author--Jack Zhou and Sid--}}
    <!-- Tutor Infomation Page -->
    <div class="card shadow mb-5 nav-header">
    <div class="card-body">   
<ol >
{{#each files}}
<li>

<div class="form-col">
    <div class="col">
 <a href={{this.link}} target="_blank"> {{this.title}}</a><p>Description: ({{this.description}})</p>
</div>
<div class="form-row">
  <a href="/tutors/delete/{{this._id}}" data-method="post" class="mean-btn btn">Delete</a>
  <a href="/tutors/update/{{this._id}}" class="mean-btn btn"> Edit</a>
</div> 
</div> 

</li>
{{/each}}

</ol>
        </div>
    </div>
</div>